body{
    background-color: #E5E9EA;
}

.div-center{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.appBody{
  width: 65%;
  height: 60%;
  position: absolute;
  display: flex;
}

.leftPanel{
  height:  calc(100% + 30px);
  width: 35%!important;
  margin-top: -15px;
  background-color: #282262;
  border-radius: 5px;
  box-shadow: 0px 0px 30px #b7b4b4;
}
.leftPanel > p {
  color: white;
  text-align: center!important;
}
.boldFont{
  font-weight: bold;
}

.rightPanel{
  height: 100%!important;
  width: 65%!important;
  background: black;
  margin-left: -5px;
  z-index: -1;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -4px 0px 30px #b7b4b4;
}
